In [1]:
import os
os.chdir("/home/ubuntu/budget_optimization")
os.getcwd()

'/home/ubuntu/budget_optimization'

In [2]:
import pandas as pd
from budget_optimization import core

In [3]:
bucket = "lee-budget-optimization"
download_folder = "tmp"
filedict = {
    "label": "OPRI_LABEL.csv",
    "data": "OPRI_DATA_NATIONAL.csv",
}

indicators = [
    "X.US.1.FSGOV",
    "X.US.2T3.FSGOV",
    "20062",
    "20082",
    "PRP.1",
    "PRP.2T3",
]

In [4]:
df_label = core.read_opri_label(
    download_folder,
    filedict,
    indicators,
)
df_data = core.read_opri_data(
    download_folder,
    filedict,
    indicators,
)

In [5]:
df_label

       indicator_id                                 indicator_label_en
8             20062  Enrolment in primary education, both sexes (nu...
16            20082  Enrolment in secondary education, both sexes (...
830           PRP.1  Percentage of enrolment in primary education i...
832         PRP.2T3  Percentage of enrolment in secondary education...
986    X.US.1.FSGOV  Government expenditure on primary education, U...
988  X.US.2T3.FSGOV  Government expenditure on secondary education,...

In [7]:
df_data

           indicator_id country_id  year        value magnitude qualifier
1032            PRP.2T3        ABW  2011    91.569527       NaN       NaN
1130              PRP.1        ABW  2008    77.157410       NaN       NaN
1201              20082        ABW  2009  7439.000000       NaN       NaN
1348     X.US.2T3.FSGOV        ABW  1998    19.829109       NaN       NaN
1368              20062        ABW  2013  9803.000000       NaN       NaN
...                 ...        ...   ...          ...       ...       ...
2729533           PRP.1        ZWE  1999    88.110588       NaN       NaN
2729570    X.US.1.FSGOV        ZWE  1994  1492.000000       NaN       NaN
2729614    X.US.1.FSGOV        ZWE  1983   248.000000       NaN       NaN
2729683    X.US.1.FSGOV        ZWE  1980    73.529999       NaN       NaN
2729736  X.US.2T3.FSGOV        ZWE  2012   270.944000       NaN       NaN

[31812 rows x 6 columns]